<?xml version="1.0" encoding="UTF-8"?> 

<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
 
  <bean id="bankUi" class="net.java_school.bank.BankUi"> 
  
  <property name="bank" ref="shinhanBank"/> 
  <property name="accountFile"> 
  <value>accounts.txt</value> 
  </property>
  
   </bean>
   
   <bean id="shinhanBank" class="net.java_school.bank.ShinhanBank">
   
    </bean>
    
   </beans>